<section id="about-us" class="py-5">
  <h2 class="text-center mb-4">About <strong>The Codefathers Blog</strong></h2>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p class="fs-4">
          Welcome to The Codefathers Blog, a vibrant community dedicated to
          sharing knowledge, insights, and experiences in the world of software
          development.
        </p>
        <p class="fst-italic fs-4 text-justify">
          We are passionate about technology and committed to helping developers
          of all levels grow and succeed. Our mission is to provide
          <span class="fw-bold">high-quality</span>,
          <span class="fw-bold">informative</span>, and
          <span class="fw-bold">engaging</span>
          content.
        </p>
        <p class="fs-4 text-justify">
          We believe that learning should be accessible to everyone, and we
          strive to create a welcoming and inclusive environment for all.
        </p>
      </div>
      <div class="col-md-6">
        <img
          src="/images/matrix2.jpg"
          alt="About Us"
          class="img-fluid rounded"
        />
      </div>
    </div>
  </div>
</section>

<style>
  .text-justify { text-align: justify; }
</style>