<section class="content-item" id="comments">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <h3>{{this.comments.length}} Comments</h3>
        <!-- COMMENT 1 - START -->
        {{#if this.comments}}
          {{#each this.comments}}
            <div class="media">
              <a class="pull-left" href="#"><img
                  class="media-object"
                  src={{this.author.imageUrl}}
                  alt=""
                /></a>
              <div class="media-body">
                <h4 class="media-heading">{{this.author.username}}</h4>
                <p class="htmlcode">{{{this.content}}}</p>
                {{! <ul class="list-unstyled list-inline media-detail pull-left">
              <li><i class="fa fa-calendar"></i>27/02/2014</li>
              <li><i class="fa fa-thumbs-up"></i>13</li>
            </ul>
            <ul class="list-unstyled list-inline media-detail pull-right">
              <li class=""><a href="">Like</a></li>
              <li class=""><a href="">Reply</a></li>
            </ul> }}
              </div>
            </div>
          {{/each}}
          {{#else}}
            <h3>No comments</h3>
          {{/else}}
        {{/if}}
        <!-- COMMENT 1 - END -->
      </div>
    </div>
  </div>
</section>