<!-- Hero -->
<div
  class="p-5 text-center bg-image rounded-3"
  style="
    background-image: url('/images/matrix.gif');
    height: 350px;
  "
>
  <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white">
        <h1 class="mb-3">Welcome to The Matrix, Neo !</h1>

        <div class="d-flex justify-content-between">
          <a
            href="/posts"
            data-mdb-ripple-init
            class="btn btn-lg btn-success"
            role="button"
          >Our Posts</a>

          <a
            href="/rooms"
            data-mdb-ripple-init
            class="btn btn-lg btn-success"
            role="button"
          >Our Chat System</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Hero End -->