<div class="contact-form article-comment">
  <h4>Leave a Reply</h4>
  <form id="contact-form" method="POST">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="editor" class="fs-5 fw-bold mb-2"></label>
          <textarea
            name="message"
            id="editor"
            placeholder="Your message *"
            rows="10"
            class="form-control"
          ></textarea>
        </div>
      </div>
      <div class="col-md-12">
        <div class="send">
          <button class="px-btn theme"><span>Submit</span>
            <i class="arrow"></i></button>
        </div>
      </div>
    </div>
  </form>
</div>