<div class="contact-form article-comment">
  <h4>Leave a Comment</h4>
  <form
    id="contact-form"
    method="POST"
    action="{{#if this.isEditingComment}}/edit/comment/post/{{this.post._id}}{{else}}/add/comment/post/{{this.post._id}}{{/if}}"
  >
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="editor" class="fs-5 fw-bold mb-2"></label>
          <textarea
            name="content"
            id="editor"
            placeholder="Your message *"
            rows="5"
            class="form-control"
            required="true"
            minlength="100"
          >{{this.leaveCommentFormData.content}}</textarea>
        </div>
      </div>
      <div class="col-md-12">
        <div class="send">
          <button class="px-btn theme"><span>Submit</span>
            <i class="arrow"></i></button>
        </div>
      </div>
    </div>
  </form>
</div>