<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <!-- Left side -->
    <div class="d-flex justify-content-between">
      <img
        src="/images/logo.png"
        alt="Logo"
        width="50"
        height="40"
        class="d-inline-block align-text-top"
      />
      <a class="navbar-brand fw-bold" href="/">The Codefathers Blog</a>
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a
            class="nav-link fw-bold fs-5"
            aria-current="page"
            href="/posts"
          >Posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bold fs-5" href="/contact">Contact Us</a>
        </li>
      </ul>

      {{! <!-- Center - Search form -->
      <form class="d-flex mx-auto">
        <input class="form-control" type="text" placeholder="Readonly input here…" readonly>
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> }}

      <!-- Right side - Write link -->
      {{#if isAuthenticated}}
        <ul class="navbar-nav">
          <li class="nav-item m-2">
            <a class="nav-link fs-5 fw-bold" href="/create">
              <i class="fas fa-pen"></i>
              Write
            </a>
          </li>
          <li class="nav-item m-2">
            <p class="nav-link fs-5 fw-bold">Welcome, {{username}} !</p>
          </li>
          <li class="nav-item">
            <a href="/profile/{{userId}}" class="nav-link" href="#">
              <img
                src="{{imageUrl}}"
                alt="Profile Pic"
                width="50"
                height="40"
                class="d-inline-block align-text-top"
                style="border-radius: 50%;"
              />
            </a>
          </li>
          <li class="nav-item m-2">
            <a class="nav-link fs-5 fw-bold" href="/logout">
              Logout
            </a>
          </li>
        </ul>
      {{else}}
        <ul class="navbar-nav">
          <li class="nav-item">
            <a
              type="submit"
              class="nav-link fw-bold fs-5"
              href="/register"
            >Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-bold fs-5" href="/login">Login</a>
          </li>
        </ul>
      {{/if}}
    </div>
  </div>
</nav>